* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
    list-style-type: none;
}

.container {
    background-color: #3399CC;
    color: #FFFFFF;
    padding: 20px 0;
    height: 100%;
}

.container__wrapper {
    max-width: calc(100vw - 20%);
    margin: 0 auto;
}

.container__title {
    font-size: 36px;
    margin-bottom: 30px;
}

.weather {
    margin-bottom: 20px;
}

ul, li {
    border-style: solid;
    border-color: #FFFFFF;
}

.weather-cell {
    font-size: 0;
    border-width: 2px 0 0 2px;
}

.weather:hover > .weather-cell {
    opacity: 0.3;
}

.weather__cell-item {
    display: inline-block;
    font-size: 25px;
    width: 25%;
    text-align: center;
    padding: 20px 0;
    height: 130px;
    border-width: 0 2px 2px 0;
}

.weather__cell-item_25 {
    width: 25%;
}

.weather__cell-item_50 {
    width: 50%;
}

.weather__cell-item_75 {
    width: 75%;
}

.weather__cell-item_100 {
    width: 100%;
}

.container__content {
    margin-bottom: 38px;
}

.weather__cell-item_dark-blue {
    background-color: #3399CC;
}

.weather__cell-item_blue {
    background-color: #33CCCC;
}

.weather__cell-item_strikemaster {
    background-color: #996699;
}

.weather__cell-item_red {
    background-color: #C24747;
}

.weather__cell-item_orange {
    background-color: #E2674A;
}

.weather__cell-item_yellow {
    background-color: #FFCC66;
}

.weather__cell-item_green {
    background-color: #99CC99;
}

.weather__cell-item_patina {
    background-color: #669999;
}

.weather__cell-item_pink {
    background-color: #CC6699;
}

.weather__cell-item_dark-green {
    background-color: #339966;
}

.weather__cell-item_kimberly {
    background-color: #666699;
}

.container__bottom-text {
    font-size: 20px;
}
